src/wsdl/PersonalDetailsService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="PersonalDetailsService" targetNamespace="http://www.unicorn-data.uk/interfaces/PersonalDetailsWebservice"  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.unicorn-data.uk/interfaces/PersonalDetailsWebservice" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.unicorn-data.uk/interfaces/PersonalDetailsWebservice" xmlns:bons0="http://www.unicorn-data.uk/interfaces/PersonalDetailsWebservice" xmlns:bons1="http://www.unicorn-data.uk/bo/PersonalDetailsResponse" xmlns:bons3="http://www.unicorn-data.uk/bo/PersonalDetailsRequest">
			<xsd:import namespace="http://www.unicorn-data.uk/bo/PersonalDetailsResponse" />
			<xsd:import namespace="http://www.unicorn-data.uk/bo/PersonalDetailsRequest" />
			<xsd:element name="personalDetails">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="PersonalDetailsInput" nillable="true" type="bons3:PersonalDetailsRequest" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="personalDetailsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="personalDetailsOutput" nillable="true" type="bons1:PersonalDetailsResponse" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
		<xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.unicorn-data.uk/bo/PersonalDetailsResponse" xmlns:bons1="http://www.unicorn-data.uk/bo/common/response.xsd">
			<xsd:import namespace="http://www.unicorn-data.uk/bo/common/response.xsd" />
			<xsd:complexType name="PersonalDetailsResponse">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="response" type="bons1:response"></xsd:element>
          <xsd:element minOccurs="0" name="code" type="xsd:string" />
          <xsd:element minOccurs="0" name="msg" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.unicorn-data.uk/bo/common/response.xsd" xmlns:bons0="http://www.unicorn-data.uk/bo/common/response.xsd">
			<xsd:complexType name="response">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="firstName" type="xsd:string"></xsd:element>
					<xsd:element minOccurs="0" name="lastName" type="xsd:string" />
					<xsd:element minOccurs="0" name="title" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.unicorn-data.uk/bo/PersonalDetailsRequest">
			<xsd:complexType name="PersonalDetailsRequest">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="clientId" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="personalDetailsRequestMsg">
		<wsdl:part element="tns:personalDetails" name="personalDetailsParameters" />
	</wsdl:message>
	<wsdl:message name="personalDetailsResponseMsg">
		<wsdl:part element="tns:personalDetailsResponse" name="personalDetailsResult" />
	</wsdl:message>
	<wsdl:portType name="PersonalDetailsWebservice">
		<wsdl:operation name="personalDetails">
			<wsdl:input message="tns:personalDetailsRequestMsg" name="personalDetailsRequest" />
			<wsdl:output message="tns:personalDetailsResponseMsg" name="personalDetailsResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PersonalDetailsWebserviceSOAP" type="tns:PersonalDetailsWebservice">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="personalDetails">
			<soap:operation soapAction="http://www.unicorn-data.uk/interfaces/PersonalDetailsWebservice/personalDetails" />
			<wsdl:input name="personalDetailsRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="personalDetailsResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PersonalDetailsWebservice">
		<wsdl:port binding="tns:PersonalDetailsWebserviceSOAP" name="PersonalDetailsWebservice">
			<soap:address location="SOAP_BASE_URL/services/personal-details" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
